.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;
}

.Header{
background-color: #192a56;
color: white;
padding: 14px;
width: 100%;
}

.form{
margin-top: 20px;
}

.data{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.data_val{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0 9px 0 9px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}